
@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.MySuperProperty</h4>
<h5>@ViewBag.MyFirstName</h5>
<h6>@ViewBag.MyLastName</h6>
<h7>@ViewBag.MyContactPhone</h7>

